@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

body {
  font-family: "Noto Sans TC", "Noto Sans SC", sans-serif;
}

p {
  text-align: start !important;
}

details tbody tr:nth-child(2n) {
  background: rgb(29, 30, 33);
  transition: background-color var(--vp-t-color);
}

h4 {
  font-size: 1.25em;
}

#toc {
  min-width: 15rem;
  max-width: 20rem;
}